
.tittle{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 50px 20px;
    gap: 10px;
}


.inner_books {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}




div section:nth-child(1) {
    background-color: var(--back-to-home-bg);
    cursor: pointer;
    color: #fff;
    padding: 20px 40px;

    >a {
        text-decoration: none;
        color: #fff;
    }
}

div section:nth-child(2) {
    background: linear-gradient(to bottom, var(--first-color-linear-gradient), var(--second-color-linear-gradient));
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

}

.grid_books {
    background-color: var(--page-bg);

}

.book {
    position: relative;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

}

.book div:nth-child(1) {
    padding: 15px;
}

.badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--badge-color);
    color: var(--main-color);
    padding: 5px 15px;
    border-radius: 15px;

}

.book_details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #FCFEFF;
    padding: 20px;
    border-radius: 10px;
}

.book_details h5 {
    border: 1px solid var(--author-color);
    border-radius: 10px;
    color: var(--author-color);
    background-color: #F8FBF8;
    padding: 10px;
    width: fit-content;
}

.book_details h6 {
    color: var(--price-color);
    font-size: 18px;
    font-weight: 700;
}

/* responsive  */

@media (max-width : 768px){
    .inner_books {
        flex-direction: column;
    }
}
@media (min-width : 768px ) and (max-width : 996px) {
    .inner_books{
        flex-wrap: wrap;
    }
    .book{
        width: 45%;
    }
}