section>strong {
    color: var(--main-color);
    background-color: var(--badge-color);
    padding: 10px 20px;
    border-radius: 20px;
}

.tittle {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 50px 20px;
    gap: 10px;
}



/* back to home */
div section:nth-child(1) {
    background-color: var(--back-to-home-bg);
    cursor: pointer;
    color: #fff;
    padding: 20px 40px;

    >a {
        text-decoration: none;
        color: #fff;
    }
}

/* banner section */
div section:nth-child(2) {
    background: linear-gradient(to bottom, var(--first-color-linear-gradient), var(--second-color-linear-gradient));
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    text-align: center;

}



/* form */
.form_section {
    padding: var(--main-section-padding) 0;
    background-color: var(--page-bg);
}

.form_section #container {
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 50px;
}
.form_section h4{
    color: #1B4632;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.form_section ul {
color: var(--recommendation-main-color);}

.form_section ul>li{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.form_section [data-lucide="circle-check-big"] {
    width: 30px;
    height: 30px;
    background-color: #2D6A4A;
    color: var(--main-color);
    padding: 5px;
    border-radius: 50%;
}
.aside div:nth-child(1){
    background-color: var(--main-color);
    padding: 30px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 0;
}
.aside div:nth-child(2){
    color: var(--main-color);
    line-height: 30px;
    background: linear-gradient(#FF9800 , #F57C00);
    padding: 30px 15px;
    border-radius: 10px;
    border: 0;
}
.form_wraper{
    width: 80%;
}
.form_wraper form{
    background-color: var(--main-color);
    padding: 30px 20px;
}

.form_wraper form{
    margin-bottom: 30px;
}

.form_wraper form button{
        width: 100%;
        background: linear-gradient(#3B865F , #2D6A4A);
        color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 15px;
        border-radius: 10px;
        border: 0;
        font-size: 20px;
        font-weight: 700;

    }
.form_wraper h4{
    font-size: 24px;
    margin-bottom: 15px;
}
.form_section .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 30px;
    gap: 20px;
    >input , textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(79, 76, 76, 0.712);
        border-radius: 5px;
    }
    >textarea{
        height: 120px;
    }
   
}
.form_section .input>label{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color: var(--recommendation-main-color);
    >[data-lucide]{
        color: #3B865F;
    }
}

.form_section .statsics {

    display: flex;
    justify-content: space-between;
    align-items: center;
    > div{
        background-color: var(--main-color);
        text-align: center;
        line-height: 20px;
        padding: 20px;
        width: 30%;
        border-radius: 10px;
        border: 0;
        color: var(--recommendation-main-color);
    }

}
/* responsive  */

@media (max-width : 768px) {
    .inner_books {
        flex-direction: column;
    }
   
    .form_section #container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside , .form_wraper{
    margin: 10px 0;
    width: 100%;
}
.aside div:nth-child(1){
    width: 100% ;
}
.form_section .statsics {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    >div{
        width: 100%;
    }
    

}
footer>#container section:nth-child(1){
    padding: 0 !important;
}
}

